body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    font-size: x-large;
}
h1{
    text-allign: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: xx-large;
}
.navbar a{
    color: white;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align:center;
}
.navbar a:hover{
    background-color: #111;
}
.navbar li{
    float: left;
}